
h1{
    font-size: 22pt;
    line-height: 26pt;
    color: #4aaaa5;
}

h2{
    font-size: 18pt;
    line-height: 22pt;
}

h3{
    font-size: 14pt;
    line-height: 18pt;
}

p{
    font-size: 12pt;
    line-height: 16pt;
}

body {
    color:#777777;
    border: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white-waves.png");
    background-repeat: repeat;
    background-size: cover;
}

header {
    background-color: white;    
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    border-style: solid; 
    border-width: 5px 0px 0px 0px;
    border-color: #4aaaa5;
    width:100%;
    padding:10px 0px 0px 0px;
    position: fixed;
    bottom: 0;
    left:0;
}


.header_container{
    width:80%;
    margin:auto;
}

.body_container {
    background-color:white;
    padding: 0px 0px 40px 0px;
}

.card_display{
    width: 30%;
    height: 600px;
    border: solid;
    padding: 15px;
    margin: 10px;
    float:left;
    margin-bottom:120px;
}

.card_text{
    font-size:12vw;;
}

.form-group{
    font-family: Arial, Helvetica, sans-serif;
}

.responsive_image{
    max-width: 100%; 
    height:auto;
    display: block;
    padding:5px;
    margin-left:auto;
    margin-right: auto;
}

#header_name{
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 22pt;
    padding: 10px;
    margin-bottom:0px;
}

#header_link_contact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom:auto;
    margin-top:15px;
}

#header_link_portfolio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom:auto;
    margin-top:15px;
}

#header_link_index{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom:auto;
    margin-top:15px;
}

#about_image{
    float:left;
    width:150px;
    height:auto;
    margin:20px;
}

